// Enable DSL2
nextflow.enable.dsl = 2

// Set default work directory outside of params block
workDir = '/path/to/your/workdir'

// Define execution profiles
process.stageInMode = 'copy'

profiles {
  local {
    process {
      executor = 'local'
      cpus = 1
      memory = '2 GB'
    }

    // Override specific process settings
    withName: cAssembleDereplicate {
      cpus = 8
      memory = '64 GB'
    }
  }

  cluster {
    executor {
      name = 'slurm'
      queueSize = 5
    }

    process {
      executor = 'slurm'
      cpus = 32
      memory = '10 GB'
      maxForks = 5
    }
  }
}

params {
  // Base directory for your project, reads dir and output dir (adjust as needed)
  baseDir = '/path/to/your/project'
  trimmed_reads = '/path/to/trimmed_reads'
  out_dir = '/path/to/your/output'

  // Input files and paths
  human_genome = "${baseDir}/data/Reference/hg38.fasta"
  pf_genome = "${baseDir}/data/Reference/PlasmoDB-67_Pfalciparum3D7_Genome.fasta"
  pf_genome_gff = "${baseDir}/data/Reference/PlasmoDB-67_Pfalciparum3D7.gff3"
  vardb_exon1 = "${baseDir}/data/varDB/NormalisedDataset/varDB_Normalised_3kb_nt_noVARx_noExon2.fasta"
  var3kb_exon1 = "${baseDir}/data/Reference/var3kb_exon1.fasta"
  sample_list = "${baseDir}/data/sample_list.txt"
  domain_Path_Hmmer = "${baseDir}/data/HmmerDomains/DBL_CIDR_NTS_ATS.hmmdb"
  domain_Path_lengh = "${baseDir}/data/HmmerDomains/LENGTH.Domains.txt"
  subdomain_Path_Hmmer = "${baseDir}/data/HmmerDomains/Subdomain.hmm"
  subdomain_Path_lengh = "${baseDir}/data/HmmerDomains/LENGTH.SudDomains.txt"

  list_3D7_annotation = "${baseDir}/data/Proteins_3D7/List.3D7.67.Annotation.txt"
  pf_proteins_aa = "${baseDir}/data/Proteins_3D7/Pf3D7.67.proteins.aa.renamed.with_class.fasta"

  // Custom scripts
  process_counting_contigs_size = "${baseDir}/processes/Countcountigsize.pl"
  vargene_MP_parseDBLa_pl = "${baseDir}/processes/vargene.MP.parseDBLa.pl"
  vargene_Domain_hmm2gff_hiearchical_pl = "${baseDir}/processes/vargene.Domain.hmm2gff.hiearchical.pl"
  order_domains = "${baseDir}/processes/order_domains.py"
  order_subdomains = "${baseDir}/processes/order_subdomains.py"
  vargene_blastAnntationtransfer_pl = "${baseDir}/processes/vargene.MP.blastAnntationtransfer_2.pl"
  vardom_hmm = "${baseDir}/data/var_domain.hmm"
}
